<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
<html lang="en">
<style>
.topnav {
    background-color: #333;
    overflow: hidden;
  }

  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  .topdivleft{
background-color: rgb(142, 252, 201);
color: black;
margin: 2px;
font-size: 30px ;
padding-top: 1%;
padding-bottom: 1%;
text-align: left;
}
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  </style>

<head>
    <h1 class="topdivleft">
        IMS
        </h1>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="topnav">
      <a href="/home/">Home</a>
        <a href="/home/">Items-list</a>
        <a href="/orderslist/0">Orders</a>
        <a href="/transactionslist/0">Transactions</a>
        <a href="/particularorderslist/0/True/False">Received-orders</a>
        <a href="/particularorderslist/0/False/True">cancelled-orders</a>
        <a href="/create-item/">Create-New-Item</a>
      </div>
    <title>Order Creation</title>
    <center>
        <h3>Order Creation</h3>
    <form method="POST">
            {{createorderform.as_table}}
            <button type="submit">Create</button>
            {% csrf_token %}
    </form>
</center>
</head>
<center>
<body>

</body>
</center>