
<!DOCTYPE html>
<html lang="en">

<style>
    * {
      box-sizing: border-box;
    }
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topdivleft{
background-color: rgb(142, 252, 201);
color: black;
margin: 2px;
font-size: 30px ;
padding-top: 1%;
padding-bottom: 1%;
text-align: left;
}
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

table, th, td {
    border: 1px solid rgb(10, 10, 10);
    border-collapse: collapse;
  }
</style>
<h1 class="topdivleft">
  IMS
  </h1>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="topnav">
      <a href="/home/">Home</a>
      <a href="/itemslist/">Items-list</a>
      <a href="/orderslist/0">Orders</a>
      <a href="/transactionslist/0">Transactions</a>
      <a href="/particularorderslist/0/True/False">Received-orders</a>
      <a href="/orderslist/0/False/True">cancelled-orders</a>
      <a href="/create-item/">Create-New-Item</a>
    </div>
    <title>Item Details</title>
    <center>
        <article>
            <center>
              <h1>Item Details</h1>
                <table class="table">
                    <thead>
                    <tr>
                      <th>Name</th>
                      <th>iin</th>
                      <th>Cost of single item</th>
                      <th>Quantity Available</th>
                      <th>Quantity Sold</th>
                      <th>Selling Price</th>
                      <th>Profit Earned</th>
                      <th>Revenue Generated</th>
                      <th>Is Item Deleted</tr>
                    </tr>
                    </thead>
              
                    <tbody>
                        <tr>
                        <td>{{form.name}}</td>
                        <td>{{form.iin}}</td>
                        <td>{{form.cost}}</td>
                        <td>{{form.quantity}}</td>
                        <td>{{form.quantity_sold}}</td>
                        <td>{{form.selling_price}}</td>
                        <td>{{form.profit_earned}}</td>
                        <td>{{form.revenue}}</td>
                        {% if form.is_deleted %}
                        <td>Yes</td>
                        {%else%}
                        <td>No</td>
                        {%endif%}
                        </tr>
                        </tbody>
            </table>
        </center>
          </article>
            
        {% csrf_token %}
    </form>
</center>
</head>
<center>
<body>

</body>
</center>