<style>
div
{
color: rgb(209, 75, 75);
background-color: rgb(213, 251, 230);
margin: 2px;
font-size: 20px;
padding: 0%;

align-content: center;
}
</style>
<div>
{%if messages%}
    {%for message in messages%}
    <center>
        
            {{message}}
        
        </center>
    {%endfor%}
{%endif%}
</div>