*{
    font-family: Roboto;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
}

.title{
    font-size: 25px;
    font-weight: bold;
    color: #343571;
}

.left{
display: flex;
justify-content: space-between;
}

.left>div{
    margin-right: 10px;
}

.right{
    margin-left: auto;
    display: flex;
    flex-direction: row-reverse;
    width: 50%;
}

.right>div{
    margin-right: 10px;
    margin-top: 3px;
}

.body-section{
    display: flex;

}


.key-metrics{
    width: 550px;
    height: 900px;
   
  
    margin-left: 5px;
    display: flex;
    flex-direction: column;

}


.metrics-title{
    width: auto;
    height: 50px;
    border-radius: 8px;
background: linear-gradient(133deg, rgba(240, 49, 49, 0.5) 0%, rgba(238, 20, 140, 0.5) 100%);
color: #FFF;
font-size: 30px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
line-height: normal;
}



.stats{

}

.row-1{
    display: flex;
    margin: 3px;
}

.row-2{
    display: flex;
    margin: 3px;
}

.row-3{
    display: flex;
    margin: 3px;
}

.zone-stats{
    caption-side: bottom;
    border-collapse: separate;
    box-sizing: border-box;
    background-image: none;
    box-shadow: rgba(0, 0, 0, 0.1) -2px -2px 4px 0px, rgba(0, 0, 0, 0.1) 2px 2px 4px 0px;  
    font-size: 5px;
    border-radius: 4px;
    padding: 0px;
    margin: 0px;
   
    font-weight: 500;
   
    border-color: rgb(64, 69, 69);
}

.style-1 {
    border-color: rgb(128, 128, 128);
    border-style: solid;
    border-width: 0px;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-size: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.style-2 {
    border-color: rgb(128, 128, 128);
    border-style: solid;
    border-width: 0px;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.style-3 {
    border-color: rgb(255, 255, 255);
    border-style: none;
    border-width: 0px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(103, 103, 149) none repeat scroll 0% 0% / auto padding-box border-box;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    padding: 5px;
    margin: 0px;
    font-family: Roboto;
    font-style: normal;
    line-height: normal;
}

.style-4 {
    border-color: rgb(255, 255, 255);
    border-style: none;
    border-width: 0px;
    text-align: center;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 16px;
    background: rgb(114, 192, 144) none repeat scroll 0% 0% / auto padding-box border-box;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    margin: 0px;
    font-family: Roboto;
    font-style: normal;
    line-height: normal;
}

.style-5 {
    border-color: rgb(255, 255, 255);
    border-style: none;
    border-width: 0px;
    text-align: center;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 16px;
    background: rgb(242, 157, 65) none repeat scroll 0% 0% / auto padding-box border-box;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    margin: 0px;
    font-family: Roboto;
    font-style: normal;
    line-height: normal;
}

.style-6 {
    border-color: rgb(255, 255, 255);
    border-style: none;
    border-width: 0px;
    text-align: center;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 16px;
    background: rgb(255, 100, 100) none repeat scroll 0% 0% / auto padding-box border-box;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    margin: 0px;
    font-family: Roboto;
    font-style: normal;
    line-height: normal;
}

.style-7 {
    border-color: rgb(128, 128, 128);
    border-style: solid;
    border-width: 0px;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.style-8 {
    border-color: rgb(128, 128, 128);
    border-style: solid;
    border-width: 0px;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.style-9 {
    align-items: center;
    justify-content: space-between;
    display: flex;
    border-color: rgb(119, 119, 119);
    border-style: none;
    border-width: 0px;
    box-sizing: border-box;
    border: 0px none rgb(119, 119, 119);
    padding: 5px;
    text-align: center;
    background-color: rgb(235, 235, 255);
    font-size: 12px;
    color: rgb(119, 119, 119);
    margin: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.style-10 {
    margin-right: 10px;
    margin-left: 10px;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 0px;
    font-size: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.style-11 {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.style-12 {
    border-color: rgb(33, 37, 41);
    border-style: none;
    border-width: 0px;
    box-sizing: border-box;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    background: rgba(198, 240, 194, 0.5) none repeat scroll 0% 0% / auto padding-box border-box;
    margin: 0px;
    font-size: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.style-13 {
    border-color: rgb(33, 37, 41);
    border-style: none;
    border-width: 0px;
    box-sizing: border-box;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    opacity: 0.8;
    background: rgba(245, 190, 103, 0.5) none repeat scroll 0% 0% / auto padding-box border-box;
    margin: 0px;
    font-size: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.style-14 {
    border-color: rgb(33, 37, 41);
    border-style: none;
    border-width: 0px;
    box-sizing: border-box;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    background: rgba(255, 224, 224, 0.6) none repeat scroll 0% 0% / auto padding-box border-box;
    margin: 0px;
    font-size: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.style-15 {
    border-color: rgb(128, 128, 128);
    border-style: solid;
    border-width: 0px;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.style-16 {
    align-items: center;
    justify-content: space-between;
    display: flex;
    border-color: rgb(119, 119, 119);
    border-style: none;
    border-width: 0px;
    box-sizing: border-box;
    border: 0px none rgb(119, 119, 119);
    padding: 5px;
    text-align: center;
    background-color: rgb(235, 235, 255);
    font-size: 12px;
    color: rgb(119, 119, 119);
    margin: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.style-17 {
    margin-right: 10px;
    margin-left: 10px;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 0px;
    font-size: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.style-18 {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.style-19 {
    border-color: rgb(33, 37, 41);
    border-style: none;
    border-width: 0px;
    box-sizing: border-box;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    background: rgba(198, 240, 194, 0.5) none repeat scroll 0% 0% / auto padding-box border-box;
    margin: 0px;
    font-size: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.style-20 {
    box-sizing: border-box;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    color: rgb(92, 177, 118);
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.style-21 {
    font-weight: 400;
    font-family: 'Font Awesome 6 Free';
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    line-height: 20px;
    text-rendering: auto;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
}

.style-22 {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.style-23 {
    border-color: rgb(33, 37, 41);
    border-style: none;
    border-width: 0px;
    box-sizing: border-box;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    opacity: 0.8;
    background: rgba(245, 190, 103, 0.5) none repeat scroll 0% 0% / auto padding-box border-box;
    margin: 0px;
    font-size: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.style-24 {
    box-sizing: border-box;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 100, 100);
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.style-25 {
    font-weight: 400;
    font-family: 'Font Awesome 6 Free';
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    line-height: 20px;
    text-rendering: auto;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
}

.style-26 {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.style-27 {
    border-color: rgb(33, 37, 41);
    border-style: none;
    border-width: 0px;
    box-sizing: border-box;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    background: rgba(255, 224, 224, 0.6) none repeat scroll 0% 0% / auto padding-box border-box;
    margin: 0px;
    font-size: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.style-28 {
    box-sizing: border-box;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 100, 100);
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.style-29 {
    font-weight: 400;
    font-family: 'Font Awesome 6 Free';
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    line-height: 20px;
    text-rendering: auto;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
}





.zone-table{
 

}

.triage-by-interval{
  
  
}

.triage-by-zone{

   
}

.patients-by-interval{

 
}

.patients-by-doctor{


}



.For{
  
  
}

.doctor-stats{

    
}

.metrics-child{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    height: 10vh;
    
    margin-bottom: 5px;
    background: rgba(204, 204, 220, 0.35);
 
    border-radius: 5px;
}

.title-name{
    grid-row: 1/2;
    grid-column: 1/3;
    font-size: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5px;
    margin-left: 5px;
    
}

.main-title {
    font-size: 18px;
font-family: Roboto;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-left: 5px ;
width: 300px;
margin-bottom: 5px;
}

.time{

    font-size: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 55px;

}

.visits{
    display: flex;
}

.finance{
    display: grid;
    margin-top: 5px;
    gap: 2px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    height: 50vh;

}

finance.div{
    background: rgba(232, 217, 225, 0.30);

}



table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    text-align: center;
    padding: 3px;
    border-bottom: 1px solid #ddd;
    background-color: #f2f2f2;
  }
  
  th {
    background-color: #f2f2f2;
  }




